# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
/3.4.1_vs2015/OpenCV.VC.db
/3.4.1_vs2015/OpenCV.VC.VC.opendb
*.pdb
/3.4.1_vs2015/3rdparty/lib/Debug
